<footer slot="footer">
  <div class="wa-size-l">
    Made with <wa-icon name="heart" style="color: #FF0000;"></wa-icon> by the Likableguys
  </div>
</footer>

<style>
  [slot='footer'] {
    --wa-color-text-link: var(--wa-color-text-quiet);
    background-color: var(--wa-color-surface-lowered);
    font-size: var(--wa-font-size-s);
  }
</style>
