<h1>Welcome to Likable Games</h1>
<p>Welcome to this site. Currently, none of these games work. Wordle is nearly done. The others are basically just ideas.</p>

<p>I bet I'll get these up before July 4. Let's see...</p>
