<h1>Ride the Bus!</h1>

<p>Let's play some ride the bus. For right now, I'm gonna just tinker with the UI...</p>

<div class="wa-stack wa-gap-0" style="background-color: #008000;">
  <div class="wa-span-grid">
    <wa-card></wa-card>
  </div>
  <div class="wa-span-grid">
    <wa-card></wa-card>
  </div>
  <div class="wa-grid wa-gap-0" style="--min-column-size: 200px;">
    <wa-card>Round 1</wa-card>
    <wa-card>Round 2</wa-card>
    <wa-card>Round 3</wa-card>
    <wa-card>Round 4</wa-card>
  </div>
  <div class="wa-grid wa-gap-0" style="--min-column-size: 200px;">
    <wa-card><wa-icon name="heart"></wa-icon></wa-card>
    <wa-card><wa-icon name="diamond"></wa-icon></wa-card>
    <wa-card></wa-card>
    <wa-card></wa-card>
  </div>
  <div class="wa-grid wa-gap-0" style="--min-column-size: 50px;">
    <wa-card></wa-card>
    <wa-card></wa-card>
    <wa-card></wa-card>
    <wa-card></wa-card>
    <wa-card></wa-card>
    <wa-card></wa-card>
    <wa-card></wa-card>
  </div>
</div>

