<h1 style="text-align: center;">Super Bowl Squares!</h1>

<p style="text-align: center;">For now, just playing with the UI...</p>

<div class="wa-stack wa-gap-xs">
  <p class="wa-heading-3xl" style="text-align: center;">PATRIOTS</p>

    <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
      <div style="width: 7ch;"></div>
        <% 10.times do %>
          <div style="width: 7ch; display: flex; justify-content: center;">
            <wa-icon name="x"></wa-icon>
          </div>
        <% end %>
    </div>

    <% 10.times do %>
      <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
        <wa-icon name="y" style="width: 7ch; display: flex; justify-content: center; align-items: center;"></wa-icon>
        <% 10.times do %>
          <wa-input style="width: 7ch; height: 7ch;"></wa-input>
        <% end %>
      </div>
    <% end %>
</div>
