<h1 style="text-align: center;">Super Bowl Squares!</h1>

<p style="text-align: center;">For now, just playing with the UI...</p>

<div class="wa-stack wa-gap-xs">
  <p class="wa-heading-3xl" style="text-align: center;">PATRIOTS</p>
  <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
    <% 10.times do %>
      <wa-icon name="x" style="width: 6ch;"></wa-icon>
    <% end %>
  </div>
  <% 10.times do %>
    <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
      <% 10.times do %>
        <wa-input style="width: 7ch; height: 7ch;"></wa-input>
      <% end %>
    </div>
  <% end %>
</div>
