<h1 style="text-align: center;">Let's play Wordle!</h1>

<p style="text-align: center;">For now, just playing with the UI...</p>

<div class="wa-stack wa-gap-xs">
  <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
    <wa-input style="width: 5ch;" autofocus="true" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
  </div>
  <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
    <wa-input style="width: 5ch;" autofocus="true" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
  </div>
  <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
    <wa-input style="width: 5ch;" autofocus="true" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
  </div>
  <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
    <wa-input style="width: 5ch;" autofocus="true" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
  </div>
  <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
    <wa-input style="width: 5ch;" autofocus="true" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
  </div>
  <div class="wa-cluster wa-gap-xs" style="justify-content: center;">
    <wa-input style="width: 5ch;" autofocus="true" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
    <wa-input style="width: 5ch;" maxlength="1"></wa-input>
  </div>
</div>
