<h1>Let's play Worlde!</h1>

<p>For now, just playing with the UI...</p>

<div class="wa-stack">
  <div class="wa-grid style="min_column_size: 6rem;">
    <div><wa-input autofocus="true" style="width: 1rem;" maxlength="1"></wa-input></div>
    <div><wa-input style="width: 1rem;" maxlength="1"></wa-input></div>
    <div><wa-input style="width: 1rem;" maxlength="1"></wa-input></div>
    <div><wa-input style="width: 1rem;" maxlength="1"></wa-input></div>
    <div><wa-input style="width: 1rem;" maxlength="1"></wa-input></div>
  </div>
</div>

